{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "__CONFIG__": true,
    "__ENV__": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "files": [
      "*.ts", "*.tsx"
    ],
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./",
    "jsx": true,
    "useJSXTextNode": true,
    "ecmaFeatures": {
      // Enabled object spread
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "react", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  // Rule changes from Airbnb's eslint config
  "rules": {
    "react/prop-types": 0,
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "ignoredNodes": ["TemplateLiteral"]
      }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-props-no-spreading": ["warn"],
    "implicit-arrow-linebreak": 0,
    "linebreak-style": ["error", "unix"],
    "max-len": ["warn", { "code": 120 }],
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "template-curly-spacing": 0,
    "array-callback-return": 0,
    "jsx-a11y/media-has-caption": 0,
    "quotes": ["error", "single"],
    "object-curly-spacing": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "semi": ["error", "always"]
  }
}
